include "/etc/bind/rndc.key";

controls {
        inet 127.0.0.1 allow { localhost; } keys { "rndc-key"; };
};

options {
	directory "/var/bind";

	recursion yes;

	allow-recursion {
		any;
	};

	allow-query {
		any;
	};

	forwarders {
		{{dns1}};
		{{dns2}};
	};

	listen-on { any; };
	listen-on-v6 { none; };

	pid-file "/var/run/named/named.pid";

	allow-transfer { none; };
};

{{#zones}}
zone "{{name}}" {
	type master;
	file "/etc/bind/zones/{{filename}}";
};
{{/zones}}
